<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Đăng nhập | MyBakery</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="card">
        <h2>Đăng nhập</h2>
        <div id="error-box" class="error-msg"></div>

        <form id="loginForm">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Mật khẩu" required>
            <button type="submit">Đăng nhập</button>
        </form>

        <div class="footer">
            Chưa có tài khoản? <a href="/register-view">Đăng ký ngay</a>
        </div>
    </div>

    <script src="/js/login.js"></script>
</body>

</html>